*.bak
*.dbg
*.exe
*.lps
*.res
*.lrt
*.bak1
*.app
.DS_Store
backup
lib
bin
debug
/bgrabitmap/lib4nogui
/bgrabitmap/lib4fpgui
/bgrabitmap/lib4android
/bgrabitmap/lib4android+freetype
test/testglyph/testglyph
test/rationalbezier/rationalbezier
test/testbiditext2/project1
test/colorspace/ColorsDemo
test/colorspace/HorseShoe
test/testbiditext/project1
test/test4ideu/fractal_tree/units/
test/test4other/test.png
dev/releaser/releaser
dev/colorspace/UnitMaker
dev/colorspace/generatecolorspaces
dev/colorspace/generatedcolorspace.inc

test/test4other/test4nolcl

test/test4other/test4nolcl_freetype

bgrabitmap/doc/

dev/makedoc/pmakedoc

pasdoc
doc/web

test/testcore/lib
test/testcore/lib_createfont

use/*/
